{% extends "block.html.twig" %}

{% block main %}


<div class="container-fluid">
        <div class="row">
            <h2>Vous êtes sur l'accueil du site de la bibliothèque de la mort qui tue de WebForce3</h2>
        </div>
    </div>


{% endblock %}

{% block footer %}

    <p>
        Vous avez visité l'accueil du site de la bibliothèque de la mort qui tue de WebForce3
    </p>

{% endblock %}