{% extends "block.html.twig" %}

{% block main %}

<div class="container-fluid">
      <div class="row card">

        <h1>{{ writer.name }}</h1>
        <p> {{writer.bio}} </p>

        <h2  class="underligne">Liste des livres</h2>

        {% for book in writer.books %}
            <h2>{{ book.title }}</h2>
        {% endfor %}

    </div>

</div>

{% endblock %}

{% block footer %}

<p>Génial !</p>

{% endblock %}